tinydb 
Pillow 
Flask 
waitress 
web.py 
requests_html
aiodns
brotlipy
cchardet
orjson
git+https://github.com/Mayerch1/discord-ext-help
git+https://github.com/Mayerch1/discord-ext-servercount