tinydb 
Pillow 
Flask 
waitress 
web.py 
requests_html
aiodns
brotlipy
cchardet
orjson
py-cord-dev==2.5.0rc5
git+https://github.com/Mayerch1/discord-ext-help
git+https://github.com/Mayerch1/discord-ext-servercount